In [3]:
!pip install pandas numpy

Requirement already satisfied: pandas in c:\users\rohit\appdata\roaming\python\python313\site-packages (2.3.1)
Requirement already satisfied: numpy in c:\users\rohit\appdata\roaming\python\python313\site-packages (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rohit\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rohit\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rohit\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\rohit\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("data.csv")

In [7]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [8]:
df.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [9]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [10]:
df.head(n=3)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0

In [12]:
df.tail(n=3)

    Duration          Date  Pulse  Maxpulse  Calories
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [13]:
#printing datatypes of csv file
df.dtypes

Duration      int64
Date         object
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [15]:
df.dtypes == 'object'

Duration    False
Date         True
Pulse       False
Maxpulse    False
Calories    False
dtype: bool

In [20]:
objectIndex = df.dtypes == 'int64'
objectIndex.dtypes
df.dtypes[objectIndex].index

Index(['Duration', 'Pulse', 'Maxpulse'], dtype='object')

In [30]:
df[['Duration']][:5] #Slicing can be performed for printing rows

   Duration
0        60
1        60
2        60
3        45
4        45

In [34]:
df[['Duration', 'Pulse']].head() #For display of more than one column

   Duration  Pulse
0        60    110
1        60    117
2        60    103
3        45    109
4        45    117

In [37]:
df['newcol'] = 'Rohith'
df

    Duration          Date  Pulse  Maxpulse  Calories  newcol
0         60  '2020/12/01'    110       130     409.1  Rohith
1         60  '2020/12/02'    117       145     479.0  Rohith
2         60  '2020/12/03'    103       135     340.0  Rohith
3         45  '2020/12/04'    109       175     282.4  Rohith
4         45  '2020/12/05'    117       148     406.0  Rohith
5         60  '2020/12/06'    102       127     300.0  Rohith
6         60  '2020/12/07'    110       136     374.0  Rohith
7        450  '2020/12/08'    104       134     253.3  Rohith
8         30  '2020/12/09'    109       133     195.1  Rohith
9         60  '2020/12/10'     98       124     269.0  Rohith
10        60  '2020/12/11'    103       147     329.3  Rohith
11        60  '2020/12/12'    100       120     250.7  Rohith
12        60  '2020/12/12'    100       120     250.7  Rohith
13        60  '2020/12/13'    106       128     345.3  Rohith
14        60  '2020/12/14'    104       132     379.3  Rohith
15        60  '2020/12/15'     98       123     275.0  Rohith
16        60  '2020/12/16'     98       120     215.2  Rohith
17        60  '2020/12/17'    100       120     300.0  Rohith
18        45  '2020/12/18'     90       112       NaN  Rohith
19        60  '2020/12/19'    103       123     323.0  Rohith
20        45  '2020/12/20'     97       125     243.0  Rohith
21        60  '2020/12/21'    108       131     364.2  Rohith
22        45           NaN    100       119     282.0  Rohith
23        60  '2020/12/23'    130       101     300.0  Rohith
24        45  '2020/12/24'    105       132     246.0  Rohith
25        60  '2020/12/25'    102       126     334.5  Rohith
26        60      20201226    100       120     250.0  Rohith
27        60  '2020/12/27'     92       118     241.0  Rohith
28        60  '2020/12/28'    103       132       NaN  Rohith
29        60  '2020/12/29'    100       132     280.0  Rohith
30        60  '2020/12/30'    102       129     380.3  Rohith
31        60  '2020/12/31'     92       115     243.0  Rohith

In [38]:
df.isnull()

    Duration   Date  Pulse  Maxpulse  Calories  newcol
0      False  False  False     False     False   False
1      False  False  False     False     False   False
2      False  False  False     False     False   False
3      False  False  False     False     False   False
4      False  False  False     False     False   False
5      False  False  False     False     False   False
6      False  False  False     False     False   False
7      False  False  False     False     False   False
8      False  False  False     False     False   False
9      False  False  False     False     False   False
10     False  False  False     False     False   False
11     False  False  False     False     False   False
12     False  False  False     False     False   False
13     False  False  False     False     False   False
14     False  False  False     False     False   False
15     False  False  False     False     False   False
16     False  False  False     False     False   False
17     False  False  False     False     False   False
18     False  False  False     False      True   False
19     False  False  False     False     False   False
20     False  False  False     False     False   False
21     False  False  False     False     False   False
22     False   True  False     False     False   False
23     False  False  False     False     False   False
24     False  False  False     False     False   False
25     False  False  False     False     False   False
26     False  False  False     False     False   False
27     False  False  False     False     False   False
28     False  False  False     False      True   False
29     False  False  False     False     False   False
30     False  False  False     False     False   False
31     False  False  False     False     False   False

In [42]:
df[df.isnull().any(axis=1)]

    Duration          Date  Pulse  Maxpulse  Calories  newcol
18        45  '2020/12/18'     90       112       NaN  Rohith
22        45           NaN    100       119     282.0  Rohith
28        60  '2020/12/28'    103       132       NaN  Rohith

In [51]:
# df.fillna(120,inplace = True )
# df.dropna()

    Duration          Date  Pulse  Maxpulse  Calories  newcol
0         60  '2020/12/01'    110       130     409.1  Rohith
1         60  '2020/12/02'    117       145     479.0  Rohith
2         60  '2020/12/03'    103       135     340.0  Rohith
3         45  '2020/12/04'    109       175     282.4  Rohith
4         45  '2020/12/05'    117       148     406.0  Rohith
5         60  '2020/12/06'    102       127     300.0  Rohith
6         60  '2020/12/07'    110       136     374.0  Rohith
7        450  '2020/12/08'    104       134     253.3  Rohith
8         30  '2020/12/09'    109       133     195.1  Rohith
9         60  '2020/12/10'     98       124     269.0  Rohith
10        60  '2020/12/11'    103       147     329.3  Rohith
11        60  '2020/12/12'    100       120     250.7  Rohith
12        60  '2020/12/12'    100       120     250.7  Rohith
13        60  '2020/12/13'    106       128     345.3  Rohith
14        60  '2020/12/14'    104       132     379.3  Rohith
15        60  '2020/12/15'     98       123     275.0  Rohith
16        60  '2020/12/16'     98       120     215.2  Rohith
17        60  '2020/12/17'    100       120     300.0  Rohith
18        45  '2020/12/18'     90       112     120.0  Rohith
19        60  '2020/12/19'    103       123     323.0  Rohith
20        45  '2020/12/20'     97       125     243.0  Rohith
21        60  '2020/12/21'    108       131     364.2  Rohith
22        45           120    100       119     282.0  Rohith
23        60  '2020/12/23'    130       101     300.0  Rohith
24        45  '2020/12/24'    105       132     246.0  Rohith
25        60  '2020/12/25'    102       126     334.5  Rohith
26        60      20201226    100       120     250.0  Rohith
27        60  '2020/12/27'     92       118     241.0  Rohith
28        60  '2020/12/28'    103       132     120.0  Rohith
29        60  '2020/12/29'    100       132     280.0  Rohith
30        60  '2020/12/30'    102       129     380.3  Rohith
31        60  '2020/12/31'     92       115     243.0  Rohith

In [52]:
pd.Categorical(df['Duration'])

[60, 60, 60, 45, 45, ..., 60, 60, 60, 60, 60]
Length: 32
Categories (4, int64): [30, 45, 60, 450]

In [53]:
df['Pulse'].unique()

array([110, 117, 103, 109, 102, 104,  98, 100, 106,  90,  97, 108, 130,
       105,  92])